.test{
  min-width:410px;
  &_question{
    border: 1px solid #CFCFCF;
    padding-bottom: 20px;
    max-height: 430px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    overflow-x:hidden;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: rgb(225, 219, 219);
      &-thumb {
        background-color: rgb(106, 108, 116);
        width: 10px;
      }
    }
  }
  &_buttons{
    display:flex;
    justify-content: space-around;
    margin-top:10px;
  }
}
.questions{
  h5{
    margin:0;
  }
}